{% load static %}
  <style type="text/css">
    .bs-example {
      margin: 0px;
    }
    .bg-dark {
    background-color: #212529!important;
}
    .navbar-brand {
    font-size: 24px;
      font-family: sans-serif;
    padding-left: 20px;
    margin-right: 0;
  }
  .navbar {
    padding: 20px 0;
    min-height: 80px;
  }
  .navbar-nav .nav-link {
    padding: 10px 20px;
    font-size: 16px;
  }
  .navbar a.navbar-brand {
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    }
  </style>

  <div class="bs-example">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #000000; padding: 20px 0;">
    <a class="navbar-brand" href="/" style="color: #ffffff;text-decoration: none; font-size: 24px; padding-left: 20px;"><font face = "Comic sans MS" size =" 5">Online Quiz</font><br /></a>  
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav">
        <a style="padding: 10px 20px;" href="/" class="nav-item nav-link active">Home</a>
        <a href="/teacher/teacherclick" class="nav-item nav-link" style="padding: 10px 20px;">Teacher</a>
        <a href="/student/studentclick" class="nav-item nav-link" style="padding: 10px 20px;">Student</a>
        <a href="/adminclick" class="nav-item nav-link" style="padding: 10px 20px;">Admin</a>
        </div>

      </div>
    </nav>
  </div>
